# Java General
target
*.class

# Intellij
*.iml
*.ipr
*.iws
.idea/

# VIM
.*.swp
.*.swo

# Eclipse
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide-sdt.update-site/site.xml

#MAC OS
.DS_Store
